* {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: relative;
    height: 100px;
    background-color: rgb(127, 157, 240);
    background-image: url('../img/pattern.png');
    background-size: contain;
}

.header-logo {
    height: 50px;
    position: absolute;
    bottom: 10px;
}