* {
    box-sizing: border-box;
    margin: 0;
}

header {
    position: relative;
    height: 100px;
    background-color: rgb(127, 157, 240);
    background-image: url('../img/pattern.png');
    background-size: contain;
}

.header-logo {
    height: 50px;
    position: absolute;
    bottom: 0px;
    margin: 5px;
}

main {
    margin: 5px;
}

h1 {
    font-size: 2em;
}

.writer-date, p.interest {
    color: rgb(160, 160, 160);
}

.writer-date {
    margin-bottom: 30px;
}

figcaption {
    font-size: 0.8em;
}

.highlight {
    background-color: yellow;
}

p, ul {
    margin-top: 20px;
    margin-bottom: 20px;
}

ul {
    padding-inline-start: 20px;
}

table {
    border-collapse: collapse;
}

th {
    text-align: left;
    background-color: rgb(143, 143, 255);
    color: white;
}

tr:nth-child(odd) {
    background-color: #8ae6f7;
}

p.interest {
    font-weight: bold;
    font-size: 1.2em;
    margin-bottom: 5px;
}

.container {
    position: relative;
}

.container > img {
    height: 150px;
}

.top-left {
    color: white;
    font-weight: bold;
    font-size: 1.2em;
    position: absolute;
    top: 10px;
    left: 10px;
}